/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#app {
  display: grid;
  place-content: center;
  height: 100vh;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 800px;
  height: 800px;
  background-color: green;
}

#grid .tile {
  width: 4.75%;
  height: 4.75%;
  font-size: 12px;
  
  /* width: 5pt;
  height: 32px; */
  border: 1px solid black
}

.tile p {
  text-align: center;
  font-size: 16px;
  /* justify-content:flex-end;
  align-items: flex-end; */
  border: 1px solid black
}